################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PROACCII/packages
/PROACCII/.vs/PROACCII
/PROACCII/PROACCII/bin
/PROACCII/PROACCII/obj/Debug
/PROACCII/PROACCII/obj/Release
/PROACCII/PROACCII_DB/bin/Debug
/PROACCII/PROACCII_DB/obj/Debug
